#mode{
     background-color: rgb(241, 144, 33);
     color: blanchedalmond;
     padding: 10px;
     border: none;
     border-radius: 20px;
     position:  absolute;
     right: 93%;
     margin: 10px;
     padding: auto;
}